body{
    margin: 0;
    overflow-x: hidden;
}
/* frist block */
/* back_Carousel_blurry block and navbr */
#back_blurry{
    position: relative;
    width: 100%;
    height: 100vh;
}
#back_blurry>img{
    position: absolute;
    width: 100%;
    height: 100vh;  
}

/* navbar block */
#navbar{
    height: 86px; 
    width: 100%;
    background-color: #973542;
    position: fixed;
    z-index: 1; 
    transition: all 1s ease-out;
    transform: translate(0,-100%); 
}
 #logo{
    position: relative;
    top: 16px;
    left: 26px;
} 
#logo_small{
    display: none;
} 
#navbar_button{
    position: relative;
    width: 1000px;
    margin: auto;
    left: 60px;
    bottom: 18px;
}
#navbar_button a{
    text-decoration: none;
    color: #dad8d8;
    padding: 40px;
}
#navbar_button a:hover{
    color: #ffffff;
}
#fb_icon{
    position: absolute;
    width: 56px;
    height: 56px;
    bottom: 10px;
    right: 26px;
} 

/* Carousel block */
#carousel{
    position: relative;
    width: 88%;
    height: calc(100vh - 180px);
    background-color: #000000;
    margin: 0 auto;
}
#carousel>img{
    width: 100%;
    height: 100%;
    position: absolute;
}
#carousel>.btn{
    position: absolute;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50px;
    top: 44%;
    background-color: rgb(150, 141, 141);
    color: white;
    font-size: 24px; 
}
#btn_one{
    position: relative;
    left: -30px;
}
#btn_two{
    position: relative;
    right: -30px;
}
#btn_one:hover{
    box-shadow: 10px 0px 20px 0px black;
}
#btn_two:hover{
    box-shadow: -10px 0px 20px 0px black;
}
#bottom_nav_block{
    position: absolute;
    bottom: 0;
    margin: 0 0 0 45.2%;
}
.bottom_nav{
    height: 20px;
    width: 20px;
    bottom: 0;
    background-color: #898989;
    list-style: none; 
    display: inline-block;
    border-radius: 50%;
    margin: 4px;
}

/* Abuto_us block */
#about_us{
    height: 40vh;
    width: 100%;
}
#font_block{
    width: 70%;
    height: 40vh; 
    position: relative; 
    float: left;
    transition: all 1s ease-out;
    opacity: 0;
    transform: translate(0,100%);
}
#font_block>p{
    margin: 0 auto;  
}
#font_block>#font_one{
    position: relative;
    text-align: center;
    font-size: 44px;
    color: #B87D40;
    top: 12%;
}
 #font_block>#font_two{
    position: relative;
    text-align: center;
    font-size: 25px;
    color: #4D4C4D;
    top: 15%;
}
 #font_block>#font_three{
    position: relative;
    text-align: center;
    font-size: 21px;
    color: #4D4C4D;
    top: 25%;
}
 #font_block>#font_four{
    position: relative;
    text-align: center;
    font-size: 12px;
    color: #4D4C4D;
    top: 29%;
}
#font_block>#font_five{
    position: relative;
    text-align: center;
    font-size: 14px;
    color: #4D4C4D;
    top: 40%;
}  
#font_block>#font_six{
    position: relative;
    margin: 0 auto;
    width: 52px;
    height: 1px;
    background-color: #B87D40;
    top: 40%;
}
#about_right{
    width: 30%;
    height: 40vh; 
    position: relative; 
    float: left;
}
#about_right_img{
    position: relative;
    width: 36%;
    height: 70%;
    top: 15%;
    left: 20%;
    display: none;
    transition: all 1s ease-out;
    transform: translate(170%,0%);
}
#about_right_img:hover{
    -webkit-filter:brightness(1.1);
    transition: all 0.1s ease-out;
}

/* menu block */
#menu {
    position: relative;
    background-image: url('/img/block-background.png');
    background-size: contain;
    margin: 0;
    width: 100%;
    height: 100vh;
} 
#menu_big_font{
    position: absolute;
    height: 200px;
    width: 200px;
    font-size: 40px;
    color: #B87D40; 
    top: 40%;
    left: 21.1%;
    opacity: 0;
    transition: all 1s ease-out;
}
#please_flie_font{
    position: absolute;
    height: 300px;
    width: 300px;
    font-size: 32px;
    top: 52%;
    left: 19.6%;
    color: #f4e1e4;
    opacity: 0;
    transition: all 1.5s ease-out;
}
h1 {
    text-align: center;
}

.scene {
    position: relative;
    top: 10vh;
    width: 45%;
     height: 80vh; 
    margin: 0% 5% 5% 50%;
    perspective: 1000px;
}
.book {
    position: relative;
    width: 100%;
    height: 89vh;
    transform-style: preserve-3d;
}
.page {
    cursor: pointer;
    position: absolute;
    color: black;
    width: 100%;
    height: 100%;
    
    transition: 1.5s transform;
    transform-style: preserve-3d;  
    transform-origin: left center;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10% 5% 5%;
    box-sizing: border-box;
    
    backface-visibility: hidden;
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, from(#FFFFFF), to(#CCCCCC));
    background: linear-gradient(to bottom right, #fff, #ccc);
}
#front_frist{
    background-image: url('/img/menu-frist.png');
    background-size: 100% 100%; 
}
#front_two{
    background-image: url('/img/menu-two.png');
    background-size: 100% 100%; 
}
#front_three{
    background-image: url('/img/menu-three.jpg');
    background-size: 100% 100%; 
}
#front_four{
    background-image: url('/img/menu-four.jpg');
    background-size: 100% 100%; 
}
#front_five{
    background-image: url('/img/menu-five.jpg');
    background-size: 100% 100%; 
}
#front_six{
    background-image: url('/img/menu-six.jpg');
    background-size: 100% 100%; 
}
#front_seven{
    background-image: url('/img/menu-seven.jpg');
    background-size: 100% 100%; 
}
#front_eight{
    background-image: url('/img/menu-eight.jpg');
    background-size: 100% 100%; 
}
#front_nine{
    background-image: url('/img/menu-nine.jpg');
    background-size: 100% 100%; 
}
#front_footer{
    background-image: url('/img/menu-frist.png');
    background-size: 100% 100%; 
}
.back {
    
    transform: rotateY(180deg);
}
.page.active {
    z-index: 1;
}
.page.flipped {
    transform: rotateY(-180deg);
}
.page.flipped:last-of-type {
    z-index: 1;
}
.qr{
    margin: 50px auto;
    max-width: 50%;
}
.qr img{
    display: block;
}
/*
 iPads (portrait) ----------- */
    /* @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait) {
    .scene {
        width: 90%;
        height: 90%;
        margin: 5%;
        
    }
}  */

/* chef block */
#chef{
    position: relative;
    height: 40vh;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}
#chef_bottomline{
    position: absolute;
    width: 84%;
    height: 2px;
    background-color: #B87D40;
    bottom: 8%;
    left: 8%;
}
#chef_left{
    position: relative;
    width: 30%;
    height: 40vh;
    float: left;
}
#character_photo{
    position: relative;;
    width: 180px;
    height: 180px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    background-image: url('/img/Gordon-James-Ramsay.png');
    background-size: 100% 100%;
    border-radius: 50%;
}
#character_photo:hover{
    -webkit-filter:brightness(1.1);
    transition: all 0.1s ease-out;
}
#chef_name{ 
    display: none;
}
#star_one{
    position: absolute;
    background-image: url('/img/star.png');
    background-size: 100% 100%;
    width: 34px;
    height: 34px;
    left: 0%;
    top: 16.8%;
}
#star_two{
    position: absolute;
    background-image: url('/img/star.png');
    background-size: 100% 100%;
    width: 34px;
    height: 34px;
    left: 0%;
    top: 41.2%;
}
#star_three{
    position: absolute;
    background-image: url('/img/star.png');
    background-size: 100% 100%;
    width: 34px;
    height: 34px;
    left: 0%;
    top: 65.6%;
}
#starmessage_one{
    position: absolute;
    left: 7%;
    top: 21%;
}
#starmessage_two{
    position: absolute;
    left: 7%;
    top: 45%;
}
#starmessage_three{
    position: absolute;
    left: 7%;
    top: 69%;
}
#chef_right{
    position: relative;
    width: 70%;
    height: 40vh;
    /* background-color: rgb(214, 35, 35); */
    float: left;  
    z-index: -1; 
}

/* new */
#new_background{
    position: relative;
    width: 100%;
    height: 60vh;
    background-image: url('/img/block-background.png'); 
}
#new_block{
    position: relative;
    height: 50vh;
    width: 84%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#new_left{
    position: relative;
    width: 30%;
    height: 50vh;
    background-color:  #131717;
    float: left;
}
#new_right{
    position: relative;
    width: 70%;
    height: 50vh;
    background-color: #131717;
    float: left;
}
#new_left_font{
    position: relative;
    font-size: 34px;
    margin-bottom: 0;
    left: 10%; 
    color: #B87D40; 
}
#font_bottom_line{
    position: relative;
    top: 4%;
    margin: 0 auto;
    height: 1px;
    width: 80%;
    background-color: #B87D40; 
}
#new_left_photo{
    position: relative;
    margin: 0 auto;
    top: 10%;
    height: 60%;
    width: 72%;
    background-color: #973542;
    background-image: url('/img/news-photo.png');
    background-size: 100% 100%;
}
#new_left_photo:hover{
    -webkit-filter:brightness(1.1);
    transition: all 0.1s ease-out;
}
#photo_line{
    position: relative;
    margin:  0 auto;
    top: 16%;
    height: 1px;
    width: 80%;
    background-color: #B87D40; 
}
#new_right_font{
    position: absolute;
    font-size: 22px;
    margin: 20px;
    color: #f0f0f7;
}
.head_gold_frame{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    height: 5.8%;
    width: 2%;
    left: 6.2%;
    background-color: #B87D40; 
}
#head_gold_frame_one{
    top: 18.2%;
}
#head_gold_frame_two{
    top: 35.2%;
}
#head_gold_frame_three{
    top: 52.2%;
}
#head_gold_frame_four{
    top: 67.2%;
}
#head_gold_frame_five{
    top: 84.2%;
}
.message_frame{ 
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    width: 80%;
    height: 5.8%;
    left: 8%;
    background-color: rgb(255, 255, 255);
}
#message_frame_one{
    top: 18.2%;
}
#message_frame_two{
    top: 35.2%; 
}
#message_frame_three{
    top: 52.2%;
}
#message_frame_four{
    top: 67.2%;
}
#message_frame_five{
    top: 84.2%;
}
.message p{
    position: absolute;
    margin: 0;
} 
.footer_gold_frame{
    position: absolute;
    box-sizing: border-box;
    border: 1px solid #000;
    height: 5.8%;
    width: 8%;
    left: 82%;
    background-color: #B87D40;
}
#footer_gold_frame_one{
    top: 18.2%;
}
#footer_gold_frame_two{
    top: 35.2%;
}
#footer_gold_frame_three{
    top: 52.2%;
}
#footer_gold_frame_four{
    top: 67.2%;
}
#footer_gold_frame_five{
    top: 84.2%;
}

/* restaurant photo block */
#restaurant{
    position: relative;;
    height: 40vh;
    width: 100%;
}
.restaurant_photo{
    position: relative;
    /* width: 13%;
    height: 70.88%; */
    /* background-color: rgb(160, 71, 71); */
    float: left;
    /* border-radius: 50%; */
    top: 50%;
    left: 50%;
    transform: translate(-200%, -50%);
} 
/* #exterior_photo{
    background-image: url('/onepage/img/exterior.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
} */

#exterior_photo{
    /* background-image: url('/onepage/img/exterior.jpg');
    background-size: 100% 100%;
   perspective: 1000; */
   /* margin-right: 5%; */
}

/* flip the pane when hovered */
#exterior_photo:hover .flipper, #exterior_photo.hover .flipper {
    transform: rotateY(180deg);
}

#exterior_photo, .exterior_front, .exterior_back {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.exterior_front, .exterior_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.exterior_front {
    background-image: url('/img/exterior.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
    z-index: 2;
    background-color: #ccc;
}

/* back, initially hidden pane */
.exterior_back {
    background-image: url('/img/exterior_back1.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}




#wc_photo{
    /* background-image: url('/onepage/img/exterior.jpg');
    background-size: 100% 100%;
    margin-right: 2.5%; 
    perspective: 1000; */
    /* margin-right: 2.5%;  */
}

/* flip the pane when hovered */
#wc_photo:hover .flipper, #wc_photo.hover .flipper {
    transform: rotateY(180deg);
}

#wc_photo, .wc_front, .wc_back {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.wc_front, .wc_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.wc_front {
    background-image: url('/img/wc.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
    z-index: 2;
    background-color: #ccc;
}

/* back, initially hidden pane */
.wc_back {
    background-image: url('/img/wc_back.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}




#kitchen_photo{
    /* background-image: url('/onepage/img/exterior.jpg');
    background-size: 100% 100%;
    perspective: 1000; */
    /* margin-left: 2.5%; */
} 

/* flip the pane when hovered */
#kitchen_photo:hover .flipper, #kitchen_photo.hover .flipper {
    transform: rotateY(180deg);
}

#kitchen_photo, .kitchen_front, .kitchen_back {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.kitchen_front, .kitchen_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.kitchen_front {
    background-image: url('/img/kitchen.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
    z-index: 2;
    background-color: #ccc;
}

/* back, initially hidden pane */
.kitchen_back {
    background-image: url('/img/kitchen_back.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}

#restaurant_photo{
    /* background-image: url('/onepage/img/exterior.jpg');
    background-size: 100% 100%;
    perspective: 1000; */
    /* margin-left: 5%;  */
    
} 

/* flip the pane when hovered */
#restaurant_photo:hover .flipper, #restaurant_photo.hover .flipper {
    transform: rotateY(180deg);
}

#restaurant_photo, .restaurant_front, .restaurant_back {
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.restaurant_front, .restaurant_back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.restaurant_front {
    background-image: url('/img/restaurant.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
    z-index: 2;
    background-color: #ccc;
}

/* back, initially hidden pane */
.restaurant_back {
    background-image: url('/img/restaurant_back.png');
    background-size: 100% 100%;
    transform: rotateY(180deg);
}






/* #wc_photo{
    background-image: url('/onepage/img/wc.jpg');
    background-size: 100% 100%;
    margin-right: 5%;
}
#kitchen_photo{
    background-image: url('/onepage/img/kitchen.jpg');
    background-size: 100% 100%;
}
#restaurant_photo{
    background-image: url('/onepage/img/restaurant.jpg');
    background-size: 100% 100%;
    margin-left: 5%;
} */

/* footer block */
#footer{
    position: relative;
    height: 60vh;
    width: 100%;
    background-color: #222222;
}
#footer_left{
    position: relative;
    height: 50vh;
    width: 50%;
    float: left;
}
#footer_left_font{
    position: relative;
    font-size: 32px;
    left: 10%;;
    top: 8%;
    color: #B87D40;
}
.left_footer_icon_item{
    position: absolute;
    left: 16%;
}
#icon_receiver{
    height: 44px;
    width: 44px;
    top: 27%;
    background-image: url('/img/phone-receiver-icon.png');
    background-size: 100% 100%;
}
#icon_phone{
    height: 44px;
    width: 44px;
    top: 50%;
    background-image: url('/img/phone-icon.png');
    background-size: 100% 100%;
}
#icon_mail{
    height: 44px;
    width: 44px;
    top: 73%;
    background-image: url('/img/mail-icon.png');
    background-size: 100% 100%;
}
.left_icon_message{
    position: absolute;
    left: 28%;
    font-size: 27px;
    color: #f4e1e4;
}
#left_message_one{
    top: 27%;
}
#left_message_two{
    top: 50%;
}
#left_message_three{
    top: 73%;
}
#footer_right{
    position: relative;
    height: 50vh;
    width: 50%;
    float: left;
}
#center_line{
    position: relative;
    width: 0.2%;;
    height: 74%;
    top: 16%;
    background-color: #B87D40; 
    float: left;
}
#right_icon{
    position: relative;
    top: 8%;
    left: 10%;
    height: 44px;
    width: 44px;
    background-image: url('/img/map-icon.png');
    background-size: 100% 100%;
    float: left;
}
#right_message{
    position: relative;
    float: left;
    left: 12%;
    font-size: 27px;
    top: 9%;
    color: #f4e1e4;
}
#icon_addres{
    display: none;
}
#left_message_four{
    display: none;
}
#google_map{
    position: relative;
    top: 18%;
    /* width: 80%;
    height: 68%; */
    width: 76%;
    height: 64%;
    background-color: #000;
    left: 6%;  
}
#footer_bottom{
    position: relative;
    height: 10vh;
    max-width: 100%;
    clear: both;
}
#top_line{
    position: relative;
    margin: 0 auto;
    height: 3%;
    width: 90%;
    background-color: #B87D40; 
}
#copyright{
    position: relative;
    top: 30%; 
    text-align:center;
    font-size: 20px;
    color: #f4e1e4;
}
/* for width 1130 */
@media screen and (max-width: 1130px){
    /* about us */
    #font_block>#font_one{
        top: 6%;
    }
     #font_block>#font_two{
        top: 9%;
    }
     #font_block>#font_three{
        top: 19%;
    }
     #font_block>#font_four{
        top: 23%;
    }
    #font_block>#font_five{
        top: 34%;
    }  
    #font_block>#font_six{
        top: 34%;
    }
    /* menu block */
    #menu_big_font{
        left: 19.1%;
        opacity: 0;
    }
    #please_flie_font{
        left: 16.4%;
        color: #f4e1e4;
    }
    /* chef clock */
    #character_photo{
        width: 160px;
        height: 160px;
    }
    #star_one{
        width: 24px;
        height: 24px;
    }
    #star_two{
        width: 24px;
        height: 24px;
    }
    #star_three{
        width: 24px;
        height: 24px;
    }
    #starmessage_one{
        top: 15%;
    }
    #starmessage_two{
        top: 43%;
    }
    #starmessage_three{
        top: 71%;
    }
    /* new block */
    #new_left_font{
        position: absolute;
        font-size: 22px;
    }
    #new_left_photo{
        height: 55%;
        width: 67%; 
    }
    .message_frame{  
        position: absolute;
        box-sizing: border-box;
        border: 1px solid #000;
        width: 80%;
        height: 5.8%;
        left: 8%;
        background-color: rgb(255, 255, 255);
    }
    .message_frame{  
        font-size: 12px;
    }.footer_gold_frame{
        font-size: 12px;
    }
    /* restaurant block */
    #exterior_photo, .exterior_front, .exterior_back {
        width: 160px;
        height: 160px;
    }
    #wc_photo, .wc_front, .wc_back {
        width: 160px;
        height: 160px;
    }
    #kitchen_photo, .kitchen_front, .kitchen_back {
        width: 160px;
        height: 160px;
    }
    #restaurant_photo, .restaurant_front, .restaurant_back {
        width: 160px;
        height: 160px;
    }
    

    /* footer block */
    #footer_left_font{
        font-size: 22px;
    }
    #icon_receiver{
        height: 28px;
        width: 28px;
    }
    #icon_phone{
        height: 28px;
        width: 28px;
    }
    #icon_mail{
        height: 28px;
        width: 28px;
    }
    #left_message_one{
        font-size: 22px;
    }
    #left_message_two{
        font-size: 22px;
    }
    #left_message_three{
        font-size: 22px;
    }
    #center_line{
        position: relative;
        width: 0.6%;;
        height: 74%;
        top: 16%;
        background-color: #B87D40; 
        float: left;
    }
    #right_icon{
        position: relative;
        top: 8%;
        left: 10%;
        height: 28px;
        width: 28px;
        background-image: url('/img/map-icon.png');
        background-size: 100% 100%;
        float: left;
    }
    #right_message{
        font-size: 20px;
    }
    #copyright{
        font-size: 16px;
    }
}
@media screen and (max-width: 1024px){
    #navbar_button{
        left: 180px;
    }
    #navbar_button a{
        font-size: 12px;
        padding: 30px;
    }
}
@media screen and (max-width: 890px){
    #navbar_button{
        left: 152px;
    }
    #navbar_button a{
        font-size: 12px;
        padding: 20px;
    }
}
@media screen and (max-width: 768px){
    /* navbar */
    #navbar{
        height: 60px;
    }
    #logo{
        display: none;
    }
    #logo_small{
        position: relative;
        top: 10%;
        left: 26px;
        display: block;
    }
    #navbar_button{
        display: none;
    }
    #fb_icon{
        display: none;
    } 
    #nav_menu_down{
        height: 40px;
        width: 40px;
        position: absolute;
        background-color: #973542;
        right: 16px;
        bottom: 10px;
        border-radius: 5px;
    }
    #nav_menu_down:hover{
        background-color: #d15666;
    }
    .list{
        margin: 6px 0;
        width: 28px;
        height: 4px;
        background-color: rgb(241, 241, 241);
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -450%); 
        border-radius: 5px;  
    }
    #down{
        position: fixed;
        text-align: center;
        width: 100%;
        background-color: #966b72;
        margin: 0 auto;
        padding: 0;
        top: 60px;
        visibility: hidden;
        list-style: none;
        transition: all 1s ease-out;
        height: 0;
        opacity: 0;
        z-index: 1;
    }
    
    #down.display{
        height: calc(100vh - 60px);
        opacity: 0.6;
        visibility: visible;
    }
    .list_content{
        position: relative;
        margin: 0;
        font-size: 16px;
        color: white;
        margin-bottom: 18px;
    }
    .list_content a{    
        text-decoration: none;
        color: #ffffff;
    }
    .list_content a:hover{    
        color: #f19447;
    }

    /* Carousel block */
    #carousel{
        position: relative;
        width: 100%;
        height: calc(100vh - 60px);
        background-color: #000000;
        top: 60px;
        bottom: 0px;
        margin: 0 auto;
    }
    #carousel>.btn{
        display: none;
    }
    #bottom_nav_block{
        display: none;
    }

    /* Abuto_us block */
    #font_block>#font_one{
        font-size: 22px;
        top: 4%;
    }
    #font_block>#font_two{
        font-size: 12px;
        top: 7%;
    }
    #font_block>#font_three{
        font-size: 10px;
        top: 17%;
    }
    #font_block>#font_four{
        font-size: 8px;
        top: 21%;
    }
    #font_block>#font_five{
        font-size: 7px;
        top: 30%;
    }  
    #font_block>#font_six{
        top: 30%;
        width: 7%;
    }
    /* menu block */
    #menu_big_font{
        display: none;
    }
    #please_flie_font{
        display: none;
    }

    /* chef block */
    #chef{
        height: 600px;
    }
    #chef_bottomline{
        display: none;
    }
    #chef_left{
        width: 100%;
        height: 300px;
        float: none;
    }
    #character_photo{
        width: 200px;
        height: 200px;
        display: none;
    }
    #chef_right{
        display: none;
    }

    /* new */
    #new_background{
        position: relative;
        width: 100%;
        height: 300px;
        background-image: url('/img/block-background.png'); 
    }
    #new_block{
        position: relative;
        height: 300px;
        width: 100%;
    }
    #new_left{
        position: relative;
        width: 80%;
        height: 300px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color:  #131717;
    }
    #new_right{
        display: none;
    }
    #new_left_font{
        font-size: 28px;
        left: 20%; 
    }
    #font_bottom_line{
        top: 20%;
        width: 60%;
    }
    #new_left_photo{
        height: 56%;
        width: 40%;
        top: 26%;
    }
    #photo_line{
        width: 60%;
        top: 32%;
    }

    /* restaurant photo block  */
    #restaurant{
        height: 1100px;
        width: 100%;
    }
    .restaurant_photo{
        float: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -200%);
    } 
    #exterior_photo, .exterior_front, .exterior_back {
        width: 240px;
        height: 240px;
        border-radius: 50%;
    }
    #wc_photo, .wc_front, .wc_back {
        width: 240px;
        height: 240px;
        border-radius: 50%;
    }
    #kitchen_photo, .kitchen_front, .kitchen_back {
        width: 240px;
        height: 240px;
        border-radius: 50%;
    }
    #restaurant_photo, .restaurant_front, .restaurant_back {
        width: 240px;
        height: 240px;
        border-radius: 50%;
    } 
    /* footer block */
    #footer{
        height: 800px;
    }
    #footer_left{
        height: 750px;
        width: 100%;
        float: left;
    }
    #footer_left_font{
        position: absolute;
        font-size: 28px;
        left: 14%;
        top: 4%;
    }
    .left_footer_icon_item{
        left: 22%;
    }
    #icon_receiver{
        height: 44px;
        width: 44px;
        top: 12%;
    }
    #icon_phone{
        height: 44px;
        width: 44px;
        top: 24%;
    }
    #icon_mail{
        height: 44px;
        width: 44px;
        top: 36%;
    }
    #icon_addres{
        display: block;
        height: 44px;
        width: 44px;
        top: 48%;
        background-image: url('/img/map-icon.png');
        background-size: 100% 100%;
    }
    .left_icon_message{
        left: 38%;
        font-size: 18px;
    }
    #left_message_one{
        top: 13%;
    }
    #left_message_two{
        top: 25%;
    }
    #left_message_three{
        top: 37%;
    }
    #left_message_four{
        display: block;
        top: 49%;
    }
    #footer_right{
        position: absolute;
        top: 20%;
        width: 86%;
        height: 58%;
        left: 8%;
        top: 40%;
    }
    #center_line{
        display: none;
    }
    #right_icon{
        display: none;
    }
    #right_message{
        display: none;
    }
    #google_map{
        position: relative;
        top: 18%;
        width: 86%;
        height: 68%;
        background-color: #000;
        left: 6%;  
    }
    #footer_bottom{
        position: relative;
        height: 50px;
        max-width: 100%;
    }
}

@media screen and (max-width: 414px){
    /* Abuto_us block */
    #about_us{
        height: 36vh;
    }
    #font_block>#font_six{
        top: 30%;
        width: 20%;
    }
    #about_right_img{
        top: 28%;
        width: 70px;
        height: 100px;
    }
    /* menu block */
    #menu {
        position: relative;
        background-image: url('/img/block-background.png');
        background-size: contain;
        margin: 0;
        width: 100%;
        height: 56vh;
    } 
    h1 {
        text-align: center;
    }

    .scene {
        position: relative;
        top: 10%;
        width: 45%;
        height: 50vh; 
        margin: 0% 5% 5% 50%;
        perspective: 1000px;
    }
    .book {
        position: relative;
        width: 100%;
        height: 50vh;
        transform-style: preserve-3d;
    }
    .page {
        cursor: pointer;
        position: absolute;
        color: black;
        width: 100%;
        height: 100%;
        transition: 1.5s transform;
        transform-style: preserve-3d;  
        transform-origin: left center;
    }

    /* restaurant photo block  */
    #restaurant{
        height: 800px;
    }
    .restaurant_photo{
        position: absolute;
        top: 46%;
        left: 50%;
    } 
    #exterior_photo, .exterior_front, .exterior_back {
        width: 180px;
        height: 180px;
    }
    #wc_photo, .wc_front, .wc_back {
        width: 180px;
        height: 180px;
        top: 71%;

    }
    #kitchen_photo, .kitchen_front, .kitchen_back {
        width: 180px;
        height: 180px;
        top: 96%;
    }
    #restaurant_photo, .restaurant_front, .restaurant_back {
        width: 180px;
        height: 180px;
        top: 121%;
    } 
    /* footer block */
    #footer_left_font{
        top: 2%;
        font-size: 28px;
        left: 32%;
    }
    .left_footer_icon_item{
        left: 2%;
    }
    #icon_receiver{
        top: 9%;
    }
    #icon_phone{
        top: 21%;
    }
    #icon_mail{
        top: 33%;
    }
    #icon_addres{
        top: 45%;
    }
    .left_icon_message{
        left: 23%;
        font-size: 18px;
    }
    #left_message_one{
        top: 10%;
    }
    #left_message_two{
        top: 22%;
    }
    #left_message_three{
        top: 34%;
    }
    #left_message_four{
        display: block;
        top: 45%;
    }
    #footer_right{
        position: absolute;
        top: 20%;
        width: 94%;
        height: 60%;
        left: 4%;
        top: 40%;
    }
    #google_map{
        position: relative;
        top: 18%;
        width: 94%;
        height: 68%;
        background-color: #000;
        left: 2%;  
    }
    #footer_bottom{
        position: relative;
        height: 50px;
        max-width: 100%;
    }
}