 /* navbar */
 #navbar_button{
    display: none;
}
#fb_icon{
    display: none;
} 
#nav_menu_down{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #973542;
    right: 16px;
    bottom: 20px;
    border-radius: 5px;
}
#nav_menu_down:hover{
    background-color: #d15666;
}
.list{
    margin: 6px 0;
    width: 28px;
    height: 4px;
    background-color: rgb(241, 241, 241);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -450%); 
    border-radius: 5px;  
}
#down{
    position: fixed;
    text-align: center;
    width: 100%;
    background-color: #966b72;
    margin: 0 auto;
    padding: 0;
    top: 86px;
    visibility: hidden;
    list-style: none;
    transition: all 1s ease-out;
    height: 0;
    opacity: 0;
    z-index: 1;
}

#down.display{
    height: calc(100vh - 86px);
    opacity: 0.6;
    visibility: visible;
}
.list_content{
    position: relative;
    margin: 0;
    font-size: 16px;
    color: white;
    margin-bottom: 18px;
}
.list_content a{    
    text-decoration: none;
    color: #ffffff;
}
.list_content a:hover{    
    color: #f19447;
}
